
.formArticuloCancelarInsumo {
  margin: 0%;
  padding: 5px 8px;
  background-color: var(--color-secundario);
  color: var(--color-terciario);
}

.formArticuloCancelar:hover {
  background-color: #d4ac0d;
}


.formArticuloInsumos h4 {
  color: var(--color-terciario);
  margin-top: 20px;
}

.formArticuloAcciones {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.formArticuloColumnas {
  display: flex;
  gap: 24px;
  margin-bottom: 20px;
}

.formArticuloColumna {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formArticuloColumnaIzquierda {
  padding-right: 16px;
  border-right: 1px solid #eee;
  width: 50%;
}

.formArticuloColumnaDerecha {
  padding-left: 10px;
  width: 50%;
}

.formArticuloCantidadContainer {
  margin-bottom: 16px;
}

.formArticuloCantidadInputGroup {
  display: flex;
  align-items: center;
  gap: 10px;
}

.formArticuloCantidadInputGroup input {
  flex: 1;
}

.unidadMedidaLabel {
  padding: 8px 12px;
  background-color: #ecf0f1;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  color: var(--color-terciario);
  white-space: nowrap;
}

.insumoLista {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 10px;
}

.insumoItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fdfdfd;
  font-size: 14px;
  color: var(--color-terciario);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  text-align: center;
  align-items: center;
}

