
.checkboxWrapper {
    margin-top: 14px;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    color: var(--color-terciario);
}
.error {
  color: red;
  font-size: 0.6rem;
  margin: 0 0;
}

.inputConIcono {
  position: relative;
  width: 100%;
}

.inputConIcono .formArticuloInput {
  padding-right: 36px; /* espacio para el ícono */
}

.iconoInput {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* el ícono no bloquea el input */
  font-size: 16px;
  color: #999;
}
/* #endregion */