.userCard {
    position: absolute;
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    width: 260px;
    z-index: 10;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fadeIn {
    animation-name: slideDown;
}

.fadeOut {
    animation-name: slideUp;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.cardTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--color-terciario);
}

.inputContainer {
    position: relative;
    width: 100%;
}

.inputIcon {
    position: absolute;
    top: 25%;
    left: 10px;
    color: #888;
    font-size: 1.2rem;
}

.loginInput,
.loginButton {
    width: 100%;
    box-sizing: border-box;
}

.loginInput {
    padding: 0.8rem 0.8rem 0.8rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.95rem;
    width: 100%;
    margin-bottom: 1rem;
}

.buttonBase {
    color: white;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    margin: 0.5rem 0 0.5rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.buttonBase .icon {
    margin-right: 0.3rem;
    font-size: 1.2rem;
}

.loginButton {
    background-color: var(--color-terciario);
}

.loginButton:hover {
    background-color: var(--color-primario);
}

.historialButton {
    background-color: #2D9CDB;
}

.historialButton:hover {
    background-color: #006fb1;
}

.logoutButton {
    background-color: var(--color-primario);
}

.logoutButton:hover {
    background-color: var(--color-terciario);
}

.registerLink {
    font-size: 15px;
    text-align: center;
    margin: 40px 0 15px;
}

.registerLink p a {
    color: var(--color-terciario);
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.registerLink p a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: var(--color-primario);
    transition: width 0.3s ease;
}

.registerLink p a:hover::after {
    width: 100%;
}
