:root {
  --normal: #ccc;
  --demorado: #f3e245;
  --muyDemorado: #ff6106;
  --finalizado: #666;
}

.vistaCocina {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  height: 90%;
  width: 95%;
  padding: 20px;
  margin: 0 auto;
  align-items: stretch;
}

.contenedor {
  gap: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  height: 90%;
  width: 95%;
  padding: 20px;
  margin: 0 auto;
}

.filtroEntregados {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-primario);
  cursor: pointer;
  user-select: none;
}

.filtroEntregados input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: var(--color-primario);
  border-radius: 4px;
  cursor: pointer;
  transition: transform 0.2s;
}

.filtroEntregados input[type="checkbox"]:hover {
  transform: scale(1.2);
}

.botonesDemora {
  border-radius: 10px;
}

.normal {
  background-color: var(--normal);
  border: 1px solid var(--color-terciario);
}

.demorado {
  background-color: var(--demorado);
  border: 1px solid var(--color-terciario);
}

.muyDemorado {
  background-color: var(--muyDemorado);
  border: 1px solid var(--color-terciario);
}

.entregado{
  background-color: var(--finalizado);
  border: 1px solid var(--color-terciario);
  color: white;
}

.seleccionado {
  outline: 3px solid var(white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.2s ease;
}