
.formBody {
  height: 100%;
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.rightColumn {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
