@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.registroContainer * {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.registroWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("public/bg/login-bg.jpg") no-repeat center center;
    background-size: cover;
}

.wrapper {
    width: 420px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: #f4f6f8;
}

.inputBox {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.inputBox label {
    margin-left: 5px;
}

.inputBox input {
    width: 100%;
    height: 80%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    transition: border-color 0.3s;
    margin-top: 5px;
}

.inputBox input:focus {
    border-color: #fff;
}

.inputBox input::placeholder {
    color: #fff;
}

.inputBox .icon {
    position: absolute;
    right: 20px;
    top: 80%;
    font-size: 20px;
    color: #fff;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    transition: background-color 0.3s ease;
    margin-top: 2vh;
}

.btn:hover {
    background: rgba(83, 73, 73, 0.5);
    color: white;
    border-color: #fff;
}

.loginLink {
    font-size: 15px;
    text-align: center;
    margin: 40px 0 15px;
}

.loginLink p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    position: relative;
}

.loginLink p a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.loginLink p a:hover::after {
    width: 100%;
}

.eyeIcon {
    cursor: pointer;
    transition: color 0.3s ease;
}

.eyeIcon:hover {
    color: rgba(255, 255, 255, 0.7);
}