* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primario: #e74c3c;
    --color-secundario: #f1c40f;
    --color-terciario: #2c3e50;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #f4f6f8;
    color: #333;
}

h1, h2, h3 {
    color: var(--color-terciario);
}
